
<div class="row">
    <div class="col-xxl-12">
        <div class="row big-cards">
            <div class="col-12">
                <div class="card">
                    <div class="card-body p-0">
                          <iframe id="stat-metabase" src="https://cib-dev.mappshub.com:3000/question#eyJkYXRhc2V0X3F1ZXJ5Ijp7ImRhdGFiYXNlIjoyLCJxdWVyeSI6eyJzb3VyY2UtdGFibGUiOjEwfSwidHlwZSI6InF1ZXJ5In0sImRpc3BsYXkiOiJ0YWJsZSIsImRpc3BsYXlJc0xvY2tlZCI6dHJ1ZSwidmlzdWFsaXphdGlvbl9zZXR0aW5ncyI6e319" width="100%" height="1000px"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end col-->
  </div> <!-- end row-->
  