

<div class="row">
  <div class="col-xxl-12">
      <div class="row">
          <div class="col-12 m-auto">
              <div class="card">
                  <div class="card-body p-0">
                      <div class="row align-items-end">
                            <div  class="d-flex justify-content-between align-items-center">
                                <h1  class="main-head text-center p-5 m-0"><i  class="las la-hand-holding-usd"></i> Gross Domestic Product (GDP)</h1>
                                <div class="d-flex flex-column p-5"><span data-target="1700000" class="counter-value">1700000</span><span  class="badge bg-light text-success mb-0" ><i  class="align-middle ri-arrow-up-line" ></i> 6.25 % </span></div>
                            </div>
                      </div>
                  </div> <!-- end card-body-->
              </div>
          </div> <!-- end col-->
      </div> <!-- end row-->

      <div class="row">
          <div class="col-xl-6">
              <div class="card card-animate d-none">
                    <div class="card-header text-center p-4">
                      <h4 class="card-title mb-0">Upcoming Indicator Publications</h4>
                    </div><!-- end card header -->
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="alert-count m-0 text-center alert border-0 alert-danger material-shadow d-inline-block p-3 rounded-circle" role="alert">
                                <strong>3</strong>
                            </div>
                        </div>
                    </div><!-- end card body -->
                </div> <!-- end card-->
              <!-- Primary Alert -->
                <div class="alert alert-primary alert-dismissible material-shadow alert-additional fade show" role="alert">
                <div class="alert-body">
                    <div class="d-flex">
                        <div class="flex-shrink-0 me-3">
                            <i class="ri-user-smile-line fs-16 align-middle"></i>
                        </div>
                        <div class="flex-grow-1">
                            <h5 class="alert-heading">Upcoming Indicator Publications</h5>
                            <p class="mb-0">Aww yeah, you successfully read this important alert message.</p>
                        </div>
                    </div>
                </div>
                <div class="alert-content">
                    <p class="mb-0  fw-bold fs-4">3 Upcoming Publications</p>
                </div>
                </div>

              <div class="card card-animate pb-4">
                  <div class="card-header text-center p-4">
                      <h4 class="card-title mb-0">Indicator’s Top Historical Publications</h4>
                  </div><!-- end card header -->

                  <div class="card-body p-0">
                      <table class="table table-borderless table-hover table-nowrap align-middle bg-white mb-1">
                        <thead class="text-muted table-light">
                            <tr>
                                <th scope="col" style="padding:  16px 24px 16px; ">Publication Name</th>
                                <th scope="col"  style="padding: 16px 24px 16px;">Year</th>
                                <th scope="col"  style="padding: 16px 24px 16px;">Quarter</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for ( data of TopHistoricalPublication; track $index) {
                            <tr>
                                <td style="padding: 16px 24px 16px;">
                                    <a target="_blank" href="{{data.PDFURL}}">{{data.PDFName}}</a>
                                </td>
                                <td style="padding: 16px 24px 16px;">{{data.year}}</td>
                                <td style="padding: 16px 24px 16px;">{{data.quarter}}</td>
                            </tr><!-- end -->
                            }
                        </tbody><!-- end tbody -->
                    </table><!-- end table -->
                  </div><!-- end card-body -->
              </div><!-- end card -->


          </div>
          <!-- end col -->
          <div class="col-xl-6">
               <div class="card card-animate">
                  <div class="card-header text-center p-4">
                      <h4 class="card-title mb-0">Indicator’s Main Authors</h4>
                  </div><!-- end card header -->

                  <div class="card-body p-0">
                    <table class="table table-borderless table-hover table-nowrap align-middle bg-white mb-5">
                        <thead class="table-light">
                            <tr class="text-muted">
                              <th scope="col" style="padding:  16px 24px 16px; ">Name</th>
                              <th scope="col" style="padding:  16px 24px 16px; ">Last Publications Date</th>
                              <th scope="col" style="padding:  16px 24px 16px; " >Publications</th>
                              <th scope="col" style="padding:  16px 24px 16px; ">Published Percentage</th>
                            </tr>
                        </thead>

                        <tbody>
                            @for ( data of MainAuthors; track $index) {
                            <tr>
                                <td style="padding: 21px 24px; "><img src="{{data.profile}}" alt="" class="avatar-xs rounded-circle me-2 material-shadow">
                                  <a href="javascript:void(0);" class="text-body fw-medium">{{data.name}}</a>
                                </td>
                                <td style="padding:  21px 24px; ">{{data.date}}</td>
                                <td style="padding:  21px 24px; ">{{data.publications}}</td>
                                <td style="padding:  21px 24px; ">
                                    <div class="text-nowrap">{{data.percentage}}</div>
                                </td>
                            </tr>
                            }
                        </tbody><!-- end tbody -->
                    </table><!-- end table -->
                  </div>
               </div>
            </div>
            <!-- end col -->

      </div>
       <!-- end row -->

      <div class="row">
          <div class="col-xl-6">
              <div class="card card-animate">
                  <div class="card-header text-center p-4">
                      <h4 class="card-title mb-0">Gross Domestic Product By Main Economic  Activities at Current Prices</h4>
                  </div><!-- end card header -->

                  <div class="card-body">
                      <apx-chart [series]="zoomableTimeseriesChart.series" [chart]="zoomableTimeseriesChart.chart"
                          [markers]="zoomableTimeseriesChart.markers" [dataLabels]="zoomableTimeseriesChart.dataLabels"
                          [stroke]="zoomableTimeseriesChart.stroke" [colors]="zoomableTimeseriesChart.colors"
                          [title]="zoomableTimeseriesChart.title" [xaxis]="zoomableTimeseriesChart.xaxis"
                          [colors]="zoomableTimeseriesChart.colors" dir="ltr"></apx-chart>
                  </div><!-- end card-body -->
              </div><!-- end card -->
          </div>
            <!-- end col -->
           <div class="col-xl-6">
               <div class="card card-animate">
                  <div class="card-header text-center p-4">
                      <h4 class="card-title mb-0">Web Interactions & Data Requests</h4>
                  </div><!-- end card header -->

                  <div class="card-body p-0">
                    <apx-chart [series]="stackedAreaChart.series" [chart]="stackedAreaChart.chart"
                    [xaxis]="stackedAreaChart.xaxis" [dataLabels]="stackedAreaChart.dataLabels"
                    [yaxis]="stackedAreaChart.yaxis" [colors]="stackedAreaChart.colors"
                    [legend]="stackedAreaChart.legend" [fill]="stackedAreaChart.fill" dir="ltr"></apx-chart>
                  </div>
               </div>
            </div>
      </div>
      <!-- end row -->

      <div class="row">
          <div class="col-xl-6">

              <div class="card">
           <div class="card-header text-center p-4">
              <h4 class="card-title mb-0">Relation to Indicators & Predictors</h4>
          </div><!-- end card header -->
          <div class="card-body">
              <div class="sitemap-content">
                  <figure class="sitemap-horizontal">
                      <ul class="administration">
                          <li>
                              <ul class="director">
                                  <li>
                                      <a href="javascript:void(0);" class="fw-semibold"><span>Economic Indicators</span></a>
                                      <ul class="departments">
                                          <li><a href="javascript:void(0);" class="fw-semibold"><span>Gross Domestic Product (GDP)</span></a></li>

                                          <li class="department">
                                              <a href="javascript:void(0);" class="fw-semibold"><span>Consumption</span></a>
                                          </li>
                                          <li class="department">
                                              <a href="javascript:void(0);" class="fw-semibold"><span>Investment</span></a>
                                          </li>
                                          <li class="department">
                                              <a href="javascript:void(0);" class="fw-semibold"><span>Government Spending</span></a>
                                          </li>
                                          <li class="department">
                                              <a href="javascript:void(0);" class="fw-semibold"><span>Net Exports</span></a>
                                          </li>
                                      </ul>
                                  </li>
                              </ul>
                          </li>
                      </ul>
                  </figure>
              </div><!--end sitemap-content-->
          </div><!--end card-body-->
      </div><!--end card-->

              <div class="card card-animate d-none">
                  <div class="card-header text-center p-4">
                      <h4 class="card-title mb-0">Relation to Indicators & Predictors</h4>
                  </div><!-- end card header -->

                  <div class="card-body">
                     <img src="assets/images/Sitemap.png" alt="" class="img-fluid">
                  </div><!-- end card-body -->
              </div><!-- end card -->
          </div>

      </div>
      <!-- end row -->
  </div> <!-- end col-->

</div> <!-- end row-->

