<div class="row nav-pills-info flex-column">
    <div class="col-lg-12 mb-4 m-auto">
        <div class="" role="tablist" aria-orientation="vertical">
            <ul ngbNav #CustomVertical="ngbNav" [activeId]="5"
                class="nav gap-4 second-level nav-pills flex-row nav-pills-tab custom-verti-nav-pills text-center">
                <li [ngbNavItem]="1">
                    <a ngbNavLink class="p-4 fw-bold fs-14">
                        Population
                    </a>
                    <ng-template ngbNavContent>
                        <app-population></app-population>
                    </ng-template>
                </li>
                <li [ngbNavItem]="2">
                    <a ngbNavLink class="p-4 fw-bold fs-14">
                        Hajj and Umrah Statistics
                    </a>
                    <ng-template ngbNavContent>
                        <app-hajj-umrah-statistics></app-hajj-umrah-statistics>
                    </ng-template>
                </li>
            </ul>
        </div>
    </div> <!-- end col-->
    <div class="col-lg-12">
        <div class="tab-content text-muted mt-3 mt-lg-0">
            <div [ngbNavOutlet]="CustomVertical"></div>
        </div>
    </div> <!-- end col-->
</div> <!-- end row-->