<div class="row nav-pills-info flex-column">
  <div class="col-lg-12 m-auto mb-4">
    <div class="" role="tablist" aria-orientation="vertical">
      <ul ngbNav #CustomVertical="ngbNav" [activeId]="5"
        class="nav gap-4 second-level nav-pills flex-row nav-pills-tab custom-verti-nav-pills text-center">
        <li [ngbNavItem]="1">
          <a ngbNavLink class="p-4 fw-bold fs-14">
            <i class="las la-money-bill d-block fs-20 mb-1"></i>
            GDP and National Accounts
          </a>
          <ng-template ngbNavContent>
            <app-gdp-and-national-accounts></app-gdp-and-national-accounts>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <a ngbNavLink class="p-4 fw-bold fs-14">
            <i class="las la-money-bill d-block fs-20 mb-1"></i>
            Prices
          </a>
          <ng-template ngbNavContent>
           <app-prices></app-prices>
          </ng-template>
        </li>
        <li [ngbNavItem]="3">
          <a ngbNavLink class="p-4 fw-bold fs-14">
            <i class="las la-truck d-block fs-20 mb-1"></i>
            International Trade
          </a>
          <ng-template ngbNavContent>
            <app-international-trade></app-international-trade>
          </ng-template>
        </li>
        <li [ngbNavItem]="4">
          <a ngbNavLink class="p-4 fw-bold fs-14">
            <i class="las la-oil-can d-block fs-20 mb-1"></i>
            Energy
          </a>
          <ng-template ngbNavContent>
            <app-energy></app-energy>
          </ng-template>
        </li>
      </ul>
    </div>
  </div> <!-- end col-->
  <div class="col-lg-12">
    <div class="tab-content text-muted mt-3 mt-lg-0">
      <div [ngbNavOutlet]="CustomVertical"></div>
    </div>
  </div> <!-- end col-->
</div> <!-- end row-->