<div class="row nav-pills-info flex-column">
  <div class="col-lg-12 mb-4 m-auto">
    <div class="" role="tablist" aria-orientation="vertical">
      <ul ngbNav #CustomVertical="ngbNav" [activeId]="5"
        class="nav gap-4 second-level nav-pills flex-row nav-pills-tab custom-verti-nav-pills text-center">
        <li [ngbNavItem]="1">
          <a ngbNavLink class="p-4 fw-bold fs-14">
            <i class="las la-ambulance d-block fs-20 mb-1"></i>
             SDG 3: Good Health and Well-Being
          </a>
          <ng-template ngbNavContent>
            <app-sdg3-good-health-well-being></app-sdg3-good-health-well-being>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <a ngbNavLink class="p-4 fw-bold fs-14">
            <i class="las la-graduation-cap d-block fs-20 mb-1"></i>
            SDG 4: Quality Education
          </a>
          <ng-template ngbNavContent>
            <app-sdg4-quality-education></app-sdg4-quality-education>
          </ng-template>
        </li>
        <li [ngbNavItem]="3">
          <a ngbNavLink class="p-4 fw-bold fs-14">
            <i class="las la-tint d-block fs-20 mb-1"></i>
            SDG 6: Clean Water and Sanitation
          </a>
          <ng-template ngbNavContent>
            <app-sdg6-clean-water-sanitation></app-sdg6-clean-water-sanitation>
          </ng-template>
        </li>
      </ul>
    </div>
  </div> <!-- end col-->
  <div class="col-lg-12">
    <div class="tab-content text-muted mt-3 mt-lg-0">
      <div [ngbNavOutlet]="CustomVertical"></div>
    </div>
  </div> <!-- end col-->
</div> <!-- end row-->