
<div class="row">
  <div class="col-xxl-12">
      <div class="row">
          <div class="col-12">
              <div class="card">
                  <div class="card-body p-0">
                      <div class="row align-items-end">
                        <h1 class="main-head"> Collaboration (I-Communicate)</h1> 
                      </div>
                  </div> <!-- end card-body-->
              </div>
          </div> <!-- end col-->
      </div> <!-- end row-->


      <div class="row big-cards">
         
      </div>
  </div> <!-- end col-->

</div> <!-- end row-->
