.card .row.justify-content-center.mt-2 {
	max-width: 350px;
	margin: 32px auto 0 !important;
}

.modal.show .modal-dialog {
	transform: none;
	max-width: 750px;
}
iframe {
	position: relative;
	height: 100vh;
}