<!-- Success Modal -->
<ng-template #successDataModal let-modal>
    <div class="modal-content">
        <div class="modal-body text-center p-2">
            <div class="text-end">
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close"
                    (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="mt-2">
                @if (PageURL == "#"){
                <img src="assets/images/workflow/{{ imagename }}" alt="workflow" class="img-fluid">
                } @else {
                <a routerLink="{{ PageURL }}" (click)="modal.dismiss('Cross click')">
                    <img src="assets/images/workflow/{{ imagename }}" alt="workflow" class="img-fluid">
                </a>
                }
            </div>
        </div>
    </div><!-- /.modal-content -->
</ng-template>
<div class="row mt-2">
    <div class="col-lg-12">
        <div class="row mb-5">
            <div class="col-xl-4 col-md-6">
                <div class="card h-100 text-center border">
                    <div class="card-body p-4 pb-5">
                        <h5 class="mb-4 fs-2 pt-4">Add APIs Workflow</h5>
                        <div>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#success-Payment"
                                (click)="successModal(successDataModal,'#', 'Workflow1.png')">Show Workflow</button>
                            <button type="button" class="btn btn-secondary ms-2" (click)="navigateToWorkflowEditMode('1')">
                                Edit Workflow
                            </button>
                        </div>
                        <div class="row justify-content-center mt-2">
                            <div class="col-lg-10">
                                <div>
                                    <img src="assets/images/workflow/Workflow1.png" alt="workflow" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div><!-- end card body -->
                </div><!-- end card -->
            </div><!-- end col -->

            <div class="col-xl-4 col-md-6">
                <div class="card h-100 text-center border">
                    <div class="card-body p-4 pb-5">
                        <h5 class="mb-4 fs-2 pt-4">Add Dashboards Workflow</h5>
                        <div>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#success-Payment"
                                (click)="successModal(successDataModal,'dashboards-statistics', 'Workflow2.png')">Show
                                Workflow</button>
                            <button type="button" class="btn btn-secondary ms-2" (click)="navigateToWorkflowEditMode('2')">
                                Edit Workflow
                            </button>
                        </div>
                        <div class="row justify-content-center mt-2">
                            <div class="col-lg-10">
                                <div>
                                    <img src="assets/images/workflow/Workflow2.png" alt="workflow" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div><!-- end card body -->
                </div><!-- end card -->
            </div><!-- end col -->

            <div class="col-xl-4 col-md-6">
                <div class="card h-100 text-center border">
                    <div class="card-body p-4 pb-5">
                        <h5 class="mb-4 fs-2 pt-4">Add Tables Workflow</h5>
                        <div>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#success-Payment"
                                (click)="successModal(successDataModal,'#', 'Workflow3.png')">Show Workflow</button>
                            <button type="button" class="btn btn-secondary ms-2" (click)="navigateToWorkflowEditMode('3')">
                                Edit Workflow
                            </button>
                        </div>
                        <div class="row justify-content-center mt-2">
                            <div class="col-lg-10">
                                <div>
                                    <img src="assets/images/workflow/Workflow3.png" alt="workflow" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div><!-- end card body -->
                </div><!-- end card -->
            </div><!-- end col -->

        </div>
    </div>
</div>
<div class="row mt-2" [ngClass]="{'d-none': showEditWorkflow !== 'true'}">
    <div class="col-12 m-auto">
        <div class="card">
            <div class="card-body p-5 text-center">
                <iframe [src]="safeUrl" width="100%" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>