.btn {
	width: auto;
}
.btn-primary.btn-animation {
	background-color: var(--vz-primary);
	border-color: var(--vz-primary) !important;
	&:focus {
		background-color: var(--vz-primary);
		border-color: var(--vz-primary) !important;
	}
}
.avatar-title i {
	color: rgb(10, 179, 156);
}
