<div class="card box-shadow-none">
    <div class="card-body">
        <!-- Nav tabs -->
        <ul ngbNav #ModifierCustom="ngbNav" [activeId]="1" class="nav nav-pills nav-customs nav-danger mb-3">
            <li [ngbNavItem]="1">
                <a ngbNavLink class="nav-link">
                  Unemployment Rate
                </a>
                <ng-template ngbNavContent>
                    <div class="card">
                      <div class="border">
                        <ul ngbNav #CustomHover="ngbNav" [activeId]="2" class="nav nav-pills custom-hover-nav-tabs">
                          <li [ngbNavItem]="1">
                              <a ngbNavLink>
                                <i class="ri-user-fill nav-icon nav-tab-position"></i>
                                <h5 class="nav-titl nav-tab-position m-0">Department Details</h5>
                              </a>
                              <ng-template ngbNavContent>
                                <h6>Department Details</h6>
                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Address</th>
                                                <th scope="col">Country</th>
                                                <th scope="col">Pincode</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Ruby Butcher</td>
                                                <td>412 Rosewood Lane</td>
                                                <td>New York</td>
                                                <td>10019</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>Martha T Goldberg</td>
                                                <td>2760 Clarksburg Park Road</td>
                                                <td>Arizona</td>
                                                <td>86038</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                              </ng-template>
                          </li>
                          <li [ngbNavItem]="2">
                              <a ngbNavLink>
                                <i class="ri-file-text-line nav-icon nav-tab-position"></i>
                                <h5 class="nav-titl nav-tab-position m-0">Definition</h5>
                              </a>
                              <ng-template ngbNavContent>
                                <h6>Definition</h6>
                                <div class="table-responsive">
                                    <p>Percentage of the labor force that is unemployed but seeking work</p>
                                </div>
                              </ng-template>
                          </li>
                        </ul>
                      </div>
                      <div class="card-body">
                          <div class="tab-content text-muted">
                            <div [ngbNavOutlet]="CustomHover"></div>
                          </div>
                      </div><!-- end card-body -->
                    </div>
                </ng-template>
            </li>
            <li [ngbNavItem]="2">
                <a ngbNavLink class="nav-link">
                  Employment-to-Population Ratio
                </a>
                <ng-template ngbNavContent>
                    <div class="card">
                  <div class="border">
                    <ul ngbNav #CustomHover="ngbNav" [activeId]="2" class="nav nav-pills custom-hover-nav-tabs">
                      <li [ngbNavItem]="1">
                          <a ngbNavLink>
                            <i class="ri-user-fill nav-icon nav-tab-position"></i>
                            <h5 class="nav-titl nav-tab-position m-0">Department Details</h5>
                          </a>
                          <ng-template ngbNavContent>
                            <h6>Department Details</h6>
                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Address</th>
                                            <th scope="col">Country</th>
                                            <th scope="col">Pincode</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Ruby Butcher</td>
                                            <td>412 Rosewood Lane</td>
                                            <td>New York</td>
                                            <td>10019</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Martha T Goldberg</td>
                                            <td>2760 Clarksburg Park Road</td>
                                            <td>Arizona</td>
                                            <td>86038</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                          </ng-template>
                      </li>
                      <li [ngbNavItem]="2">
                          <a ngbNavLink>
                            <i class="ri-file-text-line nav-icon nav-tab-position"></i>
                            <h5 class="nav-titl nav-tab-position m-0">Definition</h5>
                          </a>
                          <ng-template ngbNavContent>
                            <h6>Definition</h6>
                            <div class="table-responsive">
                                <p>Proportion of the working-age population that is employed</p>
                            </div>
                          </ng-template>
                      </li>
                    </ul>
                  </div>
                  <div class="card-body">
                      <div class="tab-content text-muted">
                        <div [ngbNavOutlet]="CustomHover"></div>
                      </div>
                  </div><!-- end card-body -->
                </div>
                </ng-template>
            </li>
            <li [ngbNavItem]="3">
                <a ngbNavLink class="nav-link">
                  Average Weekly Hours Worked
                </a>
                <ng-template ngbNavContent>
                    <div class="card">
                  <div class="border">
                    <ul ngbNav #CustomHover="ngbNav" [activeId]="2" class="nav nav-pills custom-hover-nav-tabs">
                      <li [ngbNavItem]="1">
                          <a ngbNavLink>
                            <i class="ri-user-fill nav-icon nav-tab-position"></i>
                            <h5 class="nav-titl nav-tab-position m-0">Department Details</h5>
                          </a>
                          <ng-template ngbNavContent>
                            <h6>Department Details</h6>
                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Address</th>
                                            <th scope="col">Country</th>
                                            <th scope="col">Pincode</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Ruby Butcher</td>
                                            <td>412 Rosewood Lane</td>
                                            <td>New York</td>
                                            <td>10019</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Martha T Goldberg</td>
                                            <td>2760 Clarksburg Park Road</td>
                                            <td>Arizona</td>
                                            <td>86038</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                          </ng-template>
                      </li>
                      <li [ngbNavItem]="2">
                          <a ngbNavLink>
                            <i class="ri-file-text-line nav-icon nav-tab-position"></i>
                            <h5 class="nav-titl nav-tab-position m-0">Definition</h5>
                          </a>
                          <ng-template ngbNavContent>
                            <h6>Definition</h6>
                            <div class="table-responsive">
                                <p>Average number of hours worked per week by employees</p>
                            </div>
                          </ng-template>
                      </li>
                    </ul>
                  </div>
                  <div class="card-body">
                      <div class="tab-content text-muted">
                        <div [ngbNavOutlet]="CustomHover"></div>
                      </div>
                  </div><!-- end card-body -->
                </div>
                </ng-template>
            </li>
            <li [ngbNavItem]="4">
              <a ngbNavLink class="nav-link">
                Youth Unemployment Rate
              </a>
              <ng-template ngbNavContent>
                  <div class="card">
                      <div class="border">
                        <ul ngbNav #CustomHover="ngbNav" [activeId]="2" class="nav nav-pills custom-hover-nav-tabs">
                          <li [ngbNavItem]="1">
                              <a ngbNavLink>
                                <i class="ri-user-fill nav-icon nav-tab-position"></i>
                                <h5 class="nav-titl nav-tab-position m-0">Department Details</h5>
                              </a>
                              <ng-template ngbNavContent>
                                <h6>Department Details</h6>
                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Address</th>
                                                <th scope="col">Country</th>
                                                <th scope="col">Pincode</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Ruby Butcher</td>
                                                <td>412 Rosewood Lane</td>
                                                <td>New York</td>
                                                <td>10019</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>Martha T Goldberg</td>
                                                <td>2760 Clarksburg Park Road</td>
                                                <td>Arizona</td>
                                                <td>86038</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                              </ng-template>
                          </li>
                          <li [ngbNavItem]="2">
                              <a ngbNavLink>
                                <i class="ri-file-text-line nav-icon nav-tab-position"></i>
                                <h5 class="nav-titl nav-tab-position m-0">Definition</h5>
                              </a>
                              <ng-template ngbNavContent>
                                <h6>Definition</h6>
                                <div class="table-responsive">
                                    <p>Percentage of the labor force aged 15-24 that is unemployed</p>
                                </div>
                              </ng-template>
                          </li>
                        </ul>
                      </div>
                      <div class="card-body">
                          <div class="tab-content text-muted">
                            <div [ngbNavOutlet]="CustomHover"></div>
                          </div>
                      </div><!-- end card-body -->
                  </div>
              </ng-template>
            </li>
        </ul>
        <div class="tab-content text-muted">
            <div [ngbNavOutlet]="ModifierCustom"></div>
        </div>
    </div><!-- end card-body -->
</div>

