/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.css";

// Swiper
.coverflowslide .slide {
    position: relative;
    transition: transform 0.3s;
}

.coverflowslide .slick-list {
    overflow: hidden !important;
}

.coverflowslide .slick-center {
    transform: scale(1.2); // Adjust the scale factor for the "Coverflow" effect
    z-index: 1;
}

.coverflowslide .carousel {
    width: 100%;
    max-width: 600px; // Adjust the carousel width as needed
    margin: 0 auto;
}

.space .slick-slide {
    margin: 10px;
}

#notificationItemsTabContent {
    .avatar-title {
        height: 30px !important;
        width: 30px !important;
    }
}

[data-bs-theme="dark"] {
    .fc {
        .fc-multimonth-daygrid {
            background: #212529 !important;

        }

        .fc-day-disabled {
            background: #282b2e !important;
        }

        .fc-multimonth {
            border-color: #32383e !important;
        }
    }
}


#landingnft{
    .slick-dots{
        bottom: -36px;
        z-index: 1;
        .slick-active{
            button{
                background-color: #3577f1 !important;
            }
        }
    }
    .slick-dots li{
        height: 7px !important;
    }
    .slick-dots li button {
        width: 22px !important;
        height: 5px !important;
        border: none;
        background-color: rgba(109,98,253,.2) !important;
        padding: 0px;
        margin: 0px;
        transition: all .3s;
        border-radius: 50px;
        &::before{
            display: none;
        }
    }

}
.row.logos img {
	max-width: 100%;
	max-height: 86px;
}
.row.logos {
	margin-top: 64px;
	margin-bottom: 64px;
}

#navbar-nav {
	padding-top: 32px;
}
.navbar-menu .navbar-nav .nav-link{
    font-weight: 500;
}
.navbar-menu .navbar-nav .is-parent.nav-link.menu-link.active
.navbar-menu .navbar-nav .nav-link:hover,
.navbar-menu .navbar-nav .nav-link.active:focus,
.navbar-menu .navbar-nav .nav-link.active {
	color: var(--vz-vertical-menu-item-color) !important;
}

.modal.show .modal-dialog{
    max-width:850px;
}

/***************/
.tabs-data-mart {
	.custom-hover-nav-tabs .nav-item {
		flex-grow: 1;
		.nav-link {
			width: 100%;
		}
	}
}

.nav-pills-info {
    .nav-pills {
        --vz-nav-pills-link-active-color: #fff;
        --vz-nav-pills-link-active-bg: var(--vz-success);
    }
    .custom-verti-nav-pills .nav-link.active::before {
        border-left-color: var(--vz-success);
    }
    .animation-nav li a {
        padding: 16px;
        &.active{
            background-color: var(--vz-warning) !important;
            color: #000 !important;
            &:before{
                background-color: var(--vz-warning) !important;
            }
        }
    }
    .nav.nav-pills.nav-customs.nav-danger > .nav-item > a {
        padding: 1.5rem 1rem;
        font-size: .95rem !important;
        width: 100%;
        display: flex;
        height: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        &:hover,
        &.active,
        &.active::before,
        &.active::after {
            background-color: rgb(247, 184, 75);
            color: #000;
        }
    }
    .nav.nav-pills.custom-hover-nav-tabs .nav-item a{
        &.active{
            &:before,
            &:after{
                background-color: #1f364d;
            }
            background-color: #1f364d;
        }
    }

    .table-responsive p {
        font-size: 18px;
        line-height: normal;
        color: #333;
        padding-top: 16px;
    }

    .nav.nav-pills.nav-customs.nav-danger {
        display: flex;
        flex-wrap: nowrap;
        text-align: center;
        padding: 0;
        gap: 4px;
        justify-content: start;
         .nav-link::before,
         .nav-link::after {
          display: none;
        }
        .nav-item {
            flex-grow: 1;
            &> a {
              margin: 0;
            }

        }
    }
    .card.box-shadow-none {
        box-shadow: none !important;
    }


}
.first-level > .nav-item {
    flex: 0 0 calc(33.333% - 1rem);
    a {
        padding: 3rem 2rem;
        font-size: 1.5rem;
         &:hover{
            color: #FFF !important;
            background-color:  var(--vz-primary);
        }
        &::before {
            top: unset;
	        bottom: -24px;
            right: 45%;
            transform: translateX(-50%);
            border-left-color: transparent !important;
        }
        &.active::before{
            border-top-color: var(--vz-primary);
        }
    }
}
.third-level,
.second-level {
    .nav-item {
        flex-grow: 1;
        a{
             &:hover{
                color: #FFF !important;
                background-color:  var(--vz-success) !important;
            }
            &::before {
                top: unset;
	            bottom: -24px;
                right: 45% !important;
                transform: translateX(-50%) !important;
                border-left-color: transparent !important;
            }
            &.active::before{
                border-top-color: var(--vz-success) !important;
            }

        }

    }
}
.third-level{
    .nav-item {
        a{
            &:hover{
                color: #FFF !important;
                background-color:  var(--vz-info) !important;
            }
            &.active{
                background-color:  var(--vz-info) !important;
                &::before{
                    border-top-color: var(--vz-info) !important;
                }
            }

        }

    }
}
.subb-title{
    font-size: 1.5rem;
    color: #1b8354;
}

a {
	text-decoration: none !important;
}
.table-responsive.table-card tr td a,
.ps-3.text-muted li a {
	text-decoration: underline !important;
}