.main-head {
	font-size: 3.75rem;
	font-weight: bold;
	color: #333;
	margin: 0;
	text-align: center;
	padding: 64px 32px;
}

::ng-deep {
  .big-cards .d-flex {
    flex-direction: column-reverse;
    gap: 24px;
    justify-content: center !important;
    align-items: center;
    text-align: center;
  }
  .big-cards{
    background-color: red !important;
  }
  
}
