.main-head {
	font-size: 3.75rem;
	font-weight: bold;
	color: #333;
	margin: 0;
	text-align: center;
	padding: 64px 32px;
}
.big-cards {
  .fw-medium{
	    font-size: 22px;
    }
}
.avatar-title {
  i {
    color: rgb(10, 179, 156);
  }
}

